<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <style>
        .error-msg { color: red; font-weight: bold; }
        .success-msg { color: green; font-weight: bold; }
      </style>
      
<h1>Login</h1>

<!-- ✅ هنا نضيف الرسائل قبل الفورم -->
{% if messages %}
    {% for message in messages %}
    <p class="{% if message.tags == 'error' %}error-msg{% else %}success-msg{% endif %}">

            {{ message }}
        </p>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username"><br>

    <label>Password:</label>
    <input type="password" name="password"><br>

    <button type="submit">Login</button>
</form>

</body>
</html>
