<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <style>
        .error-msg { color: red; font-weight: bold; }
        .success-msg { color: green; font-weight: bold; }
      </style>
      
    <h2>Register</h2>
    {% if messages %}
  {% for message in messages %}
    <p class="{% if message.tags == 'error' %}error-msg{% else %}success-msg{% endif %}">
      {{ message }}
    </p>
  {% endfor %}
{% endif %}

    <form method="POST">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" required><br>
        <label>Password:</label>
        <input type="password" name="password" required><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
